{
  "extends": [
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
    "import",
    "unused-imports",
    "prettier",
    "cypress"
  ],
  "rules": {
    "import/export": 0,
    "no-plusplus": "error",
    "no-magic-numbers": "off",
    "no-use-before-define": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "react/prop-types": 0,
    "import/no-unresolved": 0,
    "react/no-unescaped-entities": "off",
    "import/no-anonymous-default-export": "off",
    "react/display-name": "off",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "./**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "ignorePatterns": [
    "node_modules/"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@/public",
            "./public"
          ],
          [
            "@/components",
            "./components"
          ],
          [
            "@/assets",
            "./assets"
          ],
          [
            "@/routes",
            "./routes"
          ],
          [
            "@/state",
            "./state"
          ],
          [
            "@/utils",
            "./utils"
          ],
          [
            "@/pages",
            "./pages"
          ],
          [
            "@/theme",
            "./theme"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  }
}

