{
  "semi": true,
  "jsxBracketSameLine": true,
  "printWidth": 90,
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "babel",
  "bracketSpacing": true,
  "tabWidth": 2,
  "arrowParens": "avoid"
}
